# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GBS\pipette_opt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

pipette_opt.iml
